In [1]:
import numpy as np 
import pandas as pd 
from apyori import apriori

In [47]:
testarules = pd.read_csv("testarules.csv")
trainarules = pd.read_csv("TRAIN-ARULES.csv")

In [48]:
testarules.head()

,Item1,Item2,Item3,Item4,Item5
0,Dark Chocolate Minis,Organic Pink Lemonade Bunny Fruit Snacks,Peach-Pear Sparkling Water,NaN,NaN

In [49]:
trainarules.head()

   order_id  user_id                              product_name
0      1483       90  Organic Pink Lemonade Bunny Fruit Snacks
1      1483       90                      Dark Chocolate Minis
2      1483       90   Sparkling Water, Natural Mango Essenced
3      1483       90                Peach-Pear Sparkling Water
4      1483       90            Organic Heritage Flakes Cereal

In [50]:
#df = trainarules['product_name']]

In [51]:
df = trainarules.groupby(by="order_id").product_name.apply(list).reset_index()#.rename(columns={"product_name":"product_name"})

In [52]:
df.head()

   order_id                                       product_name
0      1483  [Organic Pink Lemonade Bunny Fruit Snacks, Dar...
1      4595  [Creme De Menthe Thins, Milk Chocolate English...
2      7099  [Revive Zero Vitamin Water, VitaminWater Zero™...
3      8382  [Mountain Spring Water, Clementines, Bag, Pine...
4     14400  [Truffle, Sea Salt, Black Truffle, 1500 Pale Ale]

In [62]:
df.shape

(1418, 2)

In [69]:
df.product_name[0]

['Organic Pink Lemonade Bunny Fruit Snacks',
 'Dark Chocolate Minis',
 'Sparkling Water, Natural Mango Essenced',
 'Peach-Pear Sparkling Water',
 'Organic Heritage Flakes Cereal',
 'Popped Salted Caramel Granola Bars',
 'Healthy Grains Granola Bar, Vanilla Blueberry',
 'Flax Plus Organic Pumpkin Flax Granola',
 'Sweet & Salty Nut Almond Granola Bars',
 'Cool Mint Chocolate Energy Bar',
 'Chocolate Chip Energy Bars',
 'Trail Mix Fruit & Nut Chewy Granola Bars']

In [72]:
arr = np.array(df.product_name)

In [76]:
arr[0]

['Organic Pink Lemonade Bunny Fruit Snacks',
 'Dark Chocolate Minis',
 'Sparkling Water, Natural Mango Essenced',
 'Peach-Pear Sparkling Water',
 'Organic Heritage Flakes Cereal',
 'Popped Salted Caramel Granola Bars',
 'Healthy Grains Granola Bar, Vanilla Blueberry',
 'Flax Plus Organic Pumpkin Flax Granola',
 'Sweet & Salty Nut Almond Granola Bars',
 'Cool Mint Chocolate Energy Bar',
 'Chocolate Chip Energy Bars',
 'Trail Mix Fruit & Nut Chewy Granola Bars']

In [77]:
arr[1]

['Creme De Menthe Thins',
 'Milk Chocolate English Toffee Miniatures Candy Bars',
 "Baker's Pure Cane Ultrafine Sugar",
 'Plain Bagels',
 'Cinnamon Bread']

In [78]:
arr[2]

['Revive Zero Vitamin Water',
 'VitaminWater Zero™ XXX Acai Blueberry Pomegranate',
 'Vitamin Water Zero Rise Orange',
 'Energy Tropical Citrus Vitamin Water Drink',
 'Zero Vitamin Water',
 'Vitamin Water Zero Squeezed Lemonade',
 'Total 2% Lowfat Greek Strained Yogurt with Peach',
 'Total 2% with Strawberry Lowfat Greek Strained Yogurt',
 'Total 0% Nonfat Greek Yogurt',
 'Total 0% Raspberry Yogurt',
 'Natural Artesian Water',
 'Original Turkey Jerky',
 'Teriyaki Turkey Jerky']

In [79]:
arr[3]

['Mountain Spring Water',
 'Clementines, Bag',
 'Pineapple on the Bottom Greek Yogurt',
 'Pomegranate on the Bottom Non-Fat Greek Yogurt',
 'Original French Vanilla Yogurt',
 'Original Lowfat Lemon Burst Yogurt',
 'Jet-Dry Original Rinse Aid',
 'Jumbo Cotton Balls',
 'Hearty Grains 100% Whole Wheat English Muffins']

In [80]:
arr[100]

['Organic Graham Crunch Cereal',
 'Organic Pink Lemonade Bunny Fruit Snacks',
 'Peach-Pear Sparkling Water',
 'Crunchy Coconut Granola Bars',
 'Dark Chocolate Minis',
 'Sparkling Water, Natural Mango Essenced',
 'Flax Plus Organic Pumpkin Flax Granola',
 'Dark & Mint Filled Chocolate Squares',
 'Maple Pumpkin Seeds with Sea Salt Chewy with a Crunch Granola Bars',
 'Oats & Honey Gluten Free Granola',
 'Sweet & Salty Nut Almond Granola Bars',
 'Organic Heritage Flakes Cereal',
 "Crunchy Oats N' Honey Granola Bars",
 'Trail Mix Fruit & Nut Chewy Granola Bars',
 'Whole Vitamin D Milk']

In [74]:
association_rules = apriori(arr, min_support=0.10, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [75]:
association_results

[]