In [19]:
import numpy as np 
import pandas as pd 
# from apyori import apriori
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth
from mlxtend.preprocessing import TransactionEncoder

In [32]:
testarules = pd.read_csv("testarules.csv")
trainarules = pd.read_csv("TRAIN-ARULES.csv")
te = TransactionEncoder()

In [3]:
trainarules.head()

   order_id  user_id                              product_name
0      1483       90  Organic Pink Lemonade Bunny Fruit Snacks
1      1483       90                      Dark Chocolate Minis
2      1483       90   Sparkling Water, Natural Mango Essenced
3      1483       90                Peach-Pear Sparkling Water
4      1483       90            Organic Heritage Flakes Cereal

In [4]:
testarules.head()

,Item1,Item2,Item3,Item4,Item5
0,Dark Chocolate Minis,Organic Pink Lemonade Bunny Fruit Snacks,Peach-Pear Sparkling Water,NaN,NaN

In [5]:
trainarules.head()

   order_id  user_id                              product_name
0      1483       90  Organic Pink Lemonade Bunny Fruit Snacks
1      1483       90                      Dark Chocolate Minis
2      1483       90   Sparkling Water, Natural Mango Essenced
3      1483       90                Peach-Pear Sparkling Water
4      1483       90            Organic Heritage Flakes Cereal

In [6]:
df = trainarules.groupby(by="order_id").product_name.apply(list).reset_index()#.rename(columns={"product_name":"product_name"})

In [7]:
df.head()

   order_id                                       product_name
0      1483  [Organic Pink Lemonade Bunny Fruit Snacks, Dar...
1      4595  [Creme De Menthe Thins, Milk Chocolate English...
2      7099  [Revive Zero Vitamin Water, VitaminWater Zero™...
3      8382  [Mountain Spring Water, Clementines, Bag, Pine...
4     14400  [Truffle, Sea Salt, Black Truffle, 1500 Pale Ale]

In [8]:
df.shape

(1418, 2)

In [9]:
df_array = list(df['product_name'])

In [11]:
te_arr = te.fit(df_array).transform(df_array)

In [13]:
df = pd.DataFrame(te_arr, columns=te.columns_)

In [14]:
df.head()

,0% Fat Free Organic Milk,0% Greek Strained Yogurt,"0% Greek, Blueberry on the Bottom Yogurt",1 Apple + 1 Pear Fruit Bar,1 Liter,1 Step Kashmir Spinach Indian Cuisine,1% Lowfat Milk,1% Milk,100 Calorie Per Bag Popcorn,100% Australian Tea Tree Oil,...,Zero Calorie Cola Soda,Zero Calorie Lemon Lime Soda,Zero Calorie Tonic Water,Zero Go-Go Mixed Berry Vitamin Water,Zero Soda,Zero Vitamin Water,Zero XXX Acai Blueberry Pomegranate,Zucchini Noodles,Zucchini Squash,smartwater® Electrolyte Enhanced Water
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
frequent_itemsets = apriori(df,min_support = .0045, use_colnames=True)
frequent_itemsets.head()

    support                                           itemsets
0  0.009873                         (0% Greek Strained Yogurt)
1  0.004937                         (100% Juice, Variety Pack)
2  0.009168  (100% Premium Select Not From Concentrate Pure...
3  0.005642                       (100% Recycled Paper Towels)
4  0.014810                                    (1500 Pale Ale)

In [18]:
res = association_rules(frequent_itemsets, metric='confidence', min_threshold=.7)
res.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0% Greek Strained Yogurt),(Bag of Organic Bananas),0.009873,0.132581,0.007052,0.714286,5.387538,0.005743,3.035966
1,(100% Premium Select Not From Concentrate Pure...,(Natural Artesian Bottled Water),0.009168,0.037377,0.007757,0.846154,22.638607,0.007415,6.257052
2,(Jaipur Karhi Organic Potato Dumplings in Spic...,(1500 Pale Ale),0.004937,0.014810,0.004937,1.000000,67.523810,0.004863,inf
3,(Jalapeno Pepper),(80 Vodka Holiday Edition),0.008463,0.009168,0.008463,1.000000,109.076923,0.008385,inf
4,(80 Vodka Holiday Edition),(Jalapeno Pepper),0.009168,0.008463,0.008463,0.923077,109.076923,0.008385,12.889986

In [20]:
frequent_itemsets2 = fpgrowth(df,min_support = .0045, use_colnames=True)
frequent_itemsets2.head()

    support                                    itemsets
0  0.031030            (Organic Heritage Flakes Cereal)
1  0.021157                      (Dark Chocolate Minis)
2  0.020451  (Organic Pink Lemonade Bunny Fruit Snacks)
3  0.016925                (Peach-Pear Sparkling Water)
4  0.013399   (Sparkling Water, Natural Mango Essenced)

In [22]:
res2 = association_rules(frequent_itemsets2, metric='confidence', min_threshold=.7)
res2.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Dark & Mint Filled Chocolate Squares, Dark Ch...",(Organic Heritage Flakes Cereal),0.011989,0.031030,0.008463,0.705882,22.748663,0.008091,3.294499
1,(Organic Pink Lemonade Bunny Fruit Snacks),(Dark Chocolate Minis),0.020451,0.021157,0.015515,0.758621,35.857471,0.015082,4.055209
2,(Dark Chocolate Minis),(Organic Pink Lemonade Bunny Fruit Snacks),0.021157,0.020451,0.015515,0.733333,35.857471,0.015082,3.673307
3,(Organic Pink Lemonade Bunny Fruit Snacks),(Organic Heritage Flakes Cereal),0.020451,0.031030,0.015515,0.758621,24.448276,0.014880,4.014306
4,"(Organic Pink Lemonade Bunny Fruit Snacks, Org...",(Dark Chocolate Minis),0.015515,0.021157,0.011283,0.727273,34.375758,0.010955,3.589093

In [71]:
test_value = np.array(testarules)[0][0:3]

In [72]:
test_value = {'Dark Chocolate Minis', 'Organic Pink Lemonade Bunny Fruit Snacks','Peach-Pear Sparkling Water'}

In [73]:
res[res.antecedents == test_value]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1391,"(Organic Pink Lemonade Bunny Fruit Snacks, Pea...",(Organic Heritage Flakes Cereal),0.011283,0.031030,0.008463,0.7500,24.170455,0.008113,3.875882
1404,"(Organic Pink Lemonade Bunny Fruit Snacks, Pea...","(Sparkling Water, Natural Mango Essenced)",0.011283,0.013399,0.010578,0.9375,69.967105,0.010427,15.785614

In [74]:
res2[res2.antecedents == test_value]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
23,"(Organic Pink Lemonade Bunny Fruit Snacks, Pea...",(Organic Heritage Flakes Cereal),0.011283,0.031030,0.008463,0.7500,24.170455,0.008113,3.875882
45,"(Organic Pink Lemonade Bunny Fruit Snacks, Pea...","(Sparkling Water, Natural Mango Essenced)",0.011283,0.013399,0.010578,0.9375,69.967105,0.010427,15.785614